/*! menu.js v1.0 | MIT License | https://github.com/oldrivercreative/menu.js */
.ui-menu {
    display: none;
}
.ui-menu-active {
    display: block;
}
.ui-menu-offcanvas {
    display: block;
    position: absolute;
    top: 0;
    min-height: 100%;
}
.ui-menu-canvas {
    position: relative;
    overflow-x: hidden;
    left: 0;
    transition: left 0.3s ease;
}
.ui-menu li {
    position: relative;
}
ul.ui-menu-sub {
    display: none;
}
ul.ui-menu-sub-active {
    display: block;
}

/* off-canvas left (optional) */
.ui-menu-left {
    width: 200px;
    right: 100%;
}
.ui-menu-canvas-active-left {
    left: 200px;
}

/* off-canvas right (optional) */
.ui-menu-right {
    width: 200px;
    left: 100%;
}
.ui-menu-canvas-active-right {
    left: -200px;
}

/* menu button icon (optional) */
.menu-icon {
    display: inline-block;
    width: 20px;
    vertical-align: middle;
    margin-right: 4px;
}
.menu-icon > span {
    display: block;
    height: 2px;
    background: #fff;
    margin-bottom: 4px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.ui-menu-btn-active .menu-icon > span {
    transform: translate(0, 8px) rotate(135deg);
}
.ui-menu-btn-active .menu-icon > span + span {
    opacity: 0;
}
.ui-menu-btn-active .menu-icon > span + span + span {
    opacity: 1;
    transform: translate(0, -4px) rotate(-135deg);
}

/* accordion button styles (optional) */
.ui-menu-sub-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: 0;
    padding: 0 16px;
    height: 44px; /* set to match height of nav links */
    background: transparent;
    box-shadow: none;
    border-radius: 0;
}
.ui-menu-sub-btn:before {
    content: "";
    display: block;
    border: 6px solid transparent; /* size of triangle */
    border-bottom: 0;
    border-top-color: #eee; /* color of triangle */
    transition: transform 0.3s ease;
}
.ui-menu-sub-btn.ui-menu-sub-btn-active:before {
    transform: rotate(180deg);
}
.ui-menu-sub-btn .label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
